<% title("Editing ban") %>
<h1><%= yield :title %></h1>

<%= link_to 'Never Mind', bans_path, :class => 'btn btn-success' %>

<%= render 'form' %>

<%= link_to 'Never Mind', bans_path, :class => 'btn btn-success' %>
