<% title("New ban") %>
<h1><%= yield :title %></h1>
<p class="lead">This form should be used only for spammers and the like
  or with community consensus.
</p>

<%= link_to 'Never Mind', bans_path, :class => 'btn btn-success', :role => "button" %>

<%= render 'form' %>

<%= link_to 'Never Mind', bans_path, :class => 'btn btn-success', :role => "button" %>
