<p>
  To run this board, we need to collect some information about you, which is available only to the Nameless Admin unless you choose to disclose it.
  In addition to this, anything you post is <strong>public</strong>.
</p>
<p>
  We collect <strong>your email</strong> so that we can
  <ul>
    <li>Send you emails about replies to your threads if you ask for them</li>
    <li>Show it to otherlogged-in Boarders <em>if</em> you enable this setting</li>
    <li>Handle account maintenance, such as password resets</li>
    <li>Have the Nameless Admin contact you about serious issues that shouldn't be addressed publicly</li>
  </ul>
</p>
<p>
  We record your <strong>IP address</strong> so that the Nameless Admin can enforce the bans and otherwise maintain the integrity of the Board and the community.
</p>
<p>
  Things that are posted to the board can only be deleted by the Nameless Admin. To contact them, please email <%= mail_to Rails.application.config.admin_contact %>.
</p>
