<% title("Formatting Help") %>
<h1>Formatting Help for the PPC Board</h1>
<p>
In posts on the PPC Board, you can use a combination of 
<a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>
and HTML to write your post.
</p>
<p>
The table below summarizes how to produce certain common types of formatting on the Board using both supported markup methods, where possible.
</p>

<table class="table table-striped">
<thead><tr><th>Effect</th><th>Markdown</th><th>HTML</th><th>Notes</th></thead>
<tbody>
<tr>
  <td><b>Bold text</b></td>
  <td>**Bold text** or __Bold text__</td>
  <td>&lt;b&gt;Bold text&lt;/b&gt; or &lt;strong&gt;Bold text&lt;/strong&gt;</td>
  <td></td>
</tr>
<tr>
  <td><i>Italics</i></td>
  <td>*Italics* or _Italics_</td>
  <td>&lt;i&gt;Italics&lt;/i&gt; or &lt;em&gt;Italics&lt;/em&gt;</td>
  <td></td>
</tr>

<tr>
  <td><u>Underlines</u></td>
  <td></td>
  <td>&lt;u&gt;Underlines&lt;/u&gt;</td>
  <td></td>
</tr>

<tr>
  <td>Links</td>
  <td>[Link text](http://example.com/)</td>
  <td>&lt;a href="http://example.com/"&gt;Link text&lt;/a&gt;</td>
  <td>Alternatively, you can just use a bare URL.</td>
</tr>

<tr>
  <td>Images</td>
  <td>![Alternate text](http://example.com/image.jpg)</td>
  <td>&lt;img src="http://example.com/image.jpg"&gt;Link text&lt;/img&gt;</td>
  <td>The alternate text is used by screen readers or when the image cannot be displayed.</td>
</tr>

<tr>
  <td>Paragraphs</td>
  <td colspan=3 style="text-align: center">A blank line between the paragraphs. There's no need to indent.</td>
</tr>

<tr>
  <td><del>Strikethrough</del></td>
  <td>~~Strikethrough~~</td>
  <td>&lt;del&gt;Strikethrough&lt;/del&gt;</td>
  <td></td>
</tr>

<tr>
  <td>Super<sup>script</sup></td>
  <td>Super^script</td>
  <td>Super&lt;sup&gt;script&lt;/sup&gt;</td>
  <td></td>
</tr>

<tr>
  <td>Main heading</td>
  <td># Main heading</td>
  <td>&lt;h1&gt;Main heading&lt;/h1&gt;</td>
  <td></td>
</tr>

<tr>
  <td>Subheading</td>
  <td>## Subheading</td>
  <td>&lt;h2&gt;Subheading&lt;/h2&gt;</td>
  <td></td>
</tr>

<tr>
  <td>Bulleted list</td>
  <td> - Thing 1 <br> - Thing 2</td>
  <td>&lt;ul&gt;<br>&lt;li&gt;Thing 1&lt;/li&gt;<br>&lt;li&gt;Thing 2&lt;/li&gt;<br>&lt;/ul&gt;</td>
  <td>Markdown need at least one space before the dash and can use asterisks or pluses in place of dashes.</td>
</tr>

<tr>
  <td>Numbered list</td>
  <td> 1. Thing 1 <br> 2. Thing 2</td>
  <td>&lt;ol&gt;<br>&lt;li&gt;Thing 1&lt;/li&gt;<br>&lt;li&gt;Thing 2&lt;/li&gt;<br>&lt;/ol&gt;</td>
  <td></td>
</tr>

<tr>
  <td>&lt;</td>
  <td colspan=2 style="text-align: center">&amp;lt;</td>
  <td></td>
</tr>

<tr>
  <td>&gt;</td>
  <td colspan=2 style="text-align: center">&amp;gt;</td>
  <td></td>
</tr>

<tr>
  <td>Horizontal rule</td>
  <td>***</td>
  <td>&lt;hr /&gt;</td>
  <td>The markdown version needs to be on a line by itself.</td>
</tr>

<tr>
  <td><font color="#00FF00">Colorful text</font></td>
  <td></td>
  <td>&lt;font color="name or #RRGGBB"&gt;Colorful text&lt;/font&gt;</td>
  <td></td>
</tr>

<tr>
  <td><a href="#s" title="A spoiler">Spoiler description</a></td>
  <td>[Spoiler description](#s "A spoiler")</td>
  <td>&lt;a href="#s" title="A spoiler"&gt;Spoiler description&lt;/a&gt;</td>
</tbody>
</table>

<p>
In post subjects, you can use the HTML versions of bold and italics.
</p>
