development:
  address:              smtp.gmail.com
  port:                 587
  domain:               ppc-board.invalid
  user_name:            something@gmail.com
  password:             PASSWORD
  authentication:       plain
  enable_starttls_auto: true
