<div class="top-matter">
<p>
<strong><u><span style="font-size:large;">THIS IS THE BACKUP AND RP BOARD FOR THE PROTECTORS OF THE PLOT CONTINUUM. THE MAIN BOARD IS AT <a href="http://disc.yourwebapps.com/Indices/199610.html">THIS LINK</a>!</span></u></strong>
Please feel free to test out the software and leave comments on it while you're here.
</p>
<p>
Welcome, fans of the Protectors of the Plot Continuum and supporters of the Canon Protection Initiative!
If you've got a story to plug, an opinion to share, or a discussion you want to join in, this is the place!
</p>
<p>
If you're looking for PPC stories to read, why not start with <strong><a href="http://plotprotectors.tripod.com/TOS/">The Original Series</a></strong> &ndash; the missions of the famous assassins Jay and Acacia, the very first stories in PPC history.
Once you've finished them, check out <a href="http://ppc.wikia.com/wiki/Killed_Badfic">the list of Killed Badfic</a>
to find a mission you like the look of, or <a href="http://ppc.wikia.com/wiki/The_Complete_List_of_PPC_Fiction">The Complete List of PPC Fiction</a> to look up specific agents or departments.
</p>
<p>
Before you join the fun, there are some <strong>important links</strong> you should know about.
Being familiar with these will save you a lot of hassle!
<ul>
<li><a href="http://ppc.wikia.com/wiki/PPC_Lounge">The PPC Lounge</a>
is the place for real-time chat. Pop in and see if anyone's around.</li>
<li><a href="https://docs.google.com/document/pub?id=18hztHpDehxcfrjaXoFUew1vb0BdZPDAusHxMHzHiCzM">The PPC Constitution</a> is Da Rules for our community.
<strong>Read this first</strong>, read it often, and follow it.</li>
<li><a href="http://ppc.wikia.com/wiki/PPC_Wiki">Our shiny PPC Wiki</a> will answer many of your questions.
<strong>Check before asking!</strong>
We like it when people do the research.</li>
<li>If you've got a question about the PPC or the Community, it might be Frequently Asked! Check out our FAQs:
<a href="http://ppc.wikia.com/wiki/FAQ:_For_Newbies">For Newbies</a>, <a href="http://ppc.wikia.com/wiki/Permission">On Permission</a>
, <a href="http://ppc.wikia.com/wiki/FAQ:_For_Other_People">For Other People</a>.
</li>
</ul>
</div>
