<div class="top-matter">
<p>
<strong><u><span style="font-size:large;">THIS IS A BETA OF THE NEW CUSTOM PPC BOARD. THE BOARD THAT IS CURRENTLY IN USE IS AT <a href="http://disc.yourwebapps.com/Indices/199610.html">THIS LINK</a>!</span></u></strong>
Please feel free to test out the software while you're here.
</p>
<p>
Welcome, fans of the Protectors of the Plot Continuum and supporters of the Canon Protection Initiative!
If you've got a story to plug, an opinion to share, or a discussion you want to join in, this is the place!
</p>
<p>
Before you join the fun, there are some <strong>important links</strong> you should know about. 
Being familiar with these will save you a lot of hassle!
<ul>
<li><a href="http://wbe02.mibbit.com/?settings=64a4814b06949473906b9c3d88f0c741&server=irc.sorcery.net&channel=%23PPC">The PPC IRC</a> (#PPC on irc.sorcery.net) is the place for real-time conversation. 
Whether you want to continue a long discussion from the Board or just hang out and chat, the IRC is the place to be.</li>
<li><a href="https://docs.google.com/document/pub?id=18hztHpDehxcfrjaXoFUew1vb0BdZPDAusHxMHzHiCzM">The PPC Constitution</a> is Da Rules for our community.
<strong>Read this first</strong>, read it often, and follow it.</li> 
<li><a href="http://plotprotectors.tripod.com/TOS/">The Original Series</a> is what started it all: the missions of the famous Assassins Jay and Acacia. 
This is the PPC's foundation, so be familiar with it! </li>
<li><a href="http://ppc.wikia.com/wiki/PPC_Wiki">Our shiny PPC Wiki</a> will answer many of your questions.
<strong>Check before asking!</strong>
We like it when people do the research.</li>
<li>If you've got a question about the PPC or the Community, it might be Frequently Asked! Check out our FAQs:
<a href="http://ppc.wikia.com/wiki/FAQ:_For_Newbies">For Newbies</a>, <a href="http://ppc.wikia.com/wiki/Permission">On Permission</a>
, <a href="http://ppc.wikia.com/wiki/FAQ:_For_Other_People">For Other People</a>.
</li>
</ul>
</div>
