<div class="top-matter">
<p>
Welcome, fans of the Protectors of the Plot Continuum and supporters of the Canon Protection Initiative!  If you've got a story to plug, an opinion to share, or a discussion you want to join in, this is the place!
</p><p>
Before you start, have some <b>important</b> links. Read them first!<ul>
<li><a href="https://docs.google.com/document/pub?id=18hztHpDehxcfrjaXoFUew1vb0BdZPDAusHxMHzHiCzM">The PPC Constitution</a>. All your posts should conform to the Constitution. <b>Read this first</b>, and read it often.</li>
<li><a href="http://ppc.wikia.com/wiki/PPC_Wiki">Our shiny Wiki</a> will answer many of your questions. <b>Check before asking</b>, as the first thing anyone will do is direct you here.</li>
<li><a href="http://wbe02.mibbit.com/?settings=64a4814b06949473906b9c3d88f0c741&amp;server=irc.sorcery.net&amp;channel=%23PPC">The PPC IRC</a> is the place for idle conversation. If it's just a few people talking, it's best to take it to the IRC.</li>
</ul>
</div>
