<div class="post">
  <% hide_status_info ||= false %>
  <% unless hide_status_info %>
    <% if post.locked %>
      <% flash_message(:info, "This (sub)thread has been locked. No more replies can be added to it.") %>
    <% end %>
    <% if post.reSorted? %>
      <% flash_message(:info, "This post sorts as if it had been posted on #{post.sort_timestamp}, that is #{distance_of_time_in_words(Time.now, post.sort_timestamp)} #{(post.sort_timestamp > Time.now) ? 'from now' : 'ago'}.") %>
      <% end %>
     <% if post.next_version_id %>
       <% flash_message(:info, "This post has been superseded by  #{link_to 'an edit', post.next_version}.") %>
     <% end %>
     <% if post.previous_version_id %>
       <% flash_message(:info, "This post has been edited. Here is the #{link_to 'previous version', post.previous_version}.") %>
     <% end %>

     <% if post.poofed  %>
       <div class="modal" id="poofModal" role="dialog">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">×</button>
               <h3>This post is poofed!</h3>
             </div>
             <div class="modal-body">
               <p> This post has been poofed by a
                 moderator. Poofed posts contain content that is strongly
                 objected to by the community. If you <i>really</i> want to see
                 the post, click the red button. </p>
             </div>
             <div class="modal-footer">
               <a href="#" role="button" class="btn btn-primary" onclick="history.back()" >Go back</a>
               <a href="#" role="button" class="btn btn-danger" data-dismiss="modal">See the post!</a>
             </div>
           </div>
         </div>
       </div>
       <script type="text/javascript">
         $('#poofModal').modal({ backdrop: "static" })
       </script>
    <% end %>
  <% end %>
  <p>
    <b>Subject:</b> <span class="long-post-subject"><%= raw(htmlic_title(post.subject)) %></span> <br />
    <b>Author:</b> <span class="long-post-author"><%= link_to post.author, post.user %></span>
    <br />
    <b>Posted on:</b> <span class="long-post-time"><%= post.created_at %></span><br />
    <br />
    <div class="current-post-body">
      <%= raw(markdown(post.body)) %>
    </div>
  </p>
</div>
