<% title("Editing \"#{@post.subject}\"") %>
<h1><%= yield :title %></h1>

<%= render 'form' %>
<div class="panel-group" id="current-post">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="panel-toggle" data-toggle="collapse" data-parent="#current-post" href="#current-post-content">
        Post being edited <b class="caret"></b>
      </a>
    </div>
    <div id="current-post-content" class="panel-collapse collapse">
      <div class="panel-inner">
        <%= render :partial => 'post', :object => @post, :locals => { :hide_status_info => true } %>
      </div>
    </div>
  </div>
</div>
