<% title(@post.parent ? "Reply" : "New Post") %>
<h1><%= yield(:title) %></h1>

<%= render 'form' %>
<% if @post.parent %>
<div class="accordion" id="parent-post">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#parent-post" href="#parent-post-content">
        Post being replied to
      </a>
    </div>
    <div id="parent-post-content" class="accordion-body collapse" >
      <div class="accordion-inner">
        <%= render :partial => 'post', :object => @post.parent, :locals => { :hide_status_info => true } %>
      </div>
    </div>
  </div>
</div>
<% end %>
