<% title(@post.parent ? "Reply" : "New Post") %>
<h1><%= yield(:title) %></h1>

<%= render :partial => 'form', :locals => { watch_checkbox: true } %>
<% if @post.parent %>
<div class="panel-group" id="parent-post">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="panel-toggle" data-toggle="collapse" data-parent="#parent-post" href="#parent-post-content">
        Post being replied to <b class="caret"></b>
      </a>
    </div>
    <div id="parent-post-content" class="panel-collapse collapse" >
      <div class="panel-inner">
        <%= render :partial => 'post', :object => @post.parent, :locals => { :hide_status_info => true } %>
      </div>
    </div>
  </div>
</div>
<% end %>
