<% title("Search results for \"#{@query}\"") %>
<h1><%= yield(:title) %></h1>
<%= will_paginate @posts %>
<% @posts.each do |post| %>
  <div class="search-result post thread">
    <%= render :partial => 'post_subject', :object => post %>
    <br />
  </div>
<% end %>
<%= will_paginate @posts %>
