/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require_self
 */
$font-family-sans-serif: "Comic Sans MS", "Comic Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Comic Sans MS", "Comic Sans", Georgia, "Times New Roman", Times, serif;
$headings-font-family: $font-family-serif;
$text-color: black;
$visited-red: #990000;
$link-color: #FF0000;
$old-link-color: #428bca;
$btn-primary-bg: $old-link-color;
$pagination-active-bg: $link-color;
$paginattion-active-border: $link-color;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "custom";
@import "posts";
@import "search";
