@mixin threadishLinks {
    a:link { text-decoration: underline; }
    a:visited { color: $visited-red; text-decoration: underline; }
    a:hover { text-decoration: underline; }
}

textarea {
    width: 75%;
}

.navbar-brand {
    font-family: $serif-font-family;
}
