@mixin threadishLinks {
    a:link { text-decoration: underline; }
    a:visited { color: $visited-red; text-decoration: underline; }
    a:hover { text-decoration: underline; }
}

.navbar-brand {
    font-family: $font-family-serif;
}
