// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.subthread {
    padding-left: 3%;
    border-left: 1px solid lighten($gray-light, 10%);
}

.current-post {
    font-weight: bold;
}

.post h1 {
    font-size: 18px;
}

.post h2, h3 {
    font-size: 16px;
}

.modal-backdrop.in {
    opacity: 1.0;
}

.thread {
    @include threadishLinks();
    border-bottom: 1px solid $gray-light;
    margin-top: 30px;
    padding-bottom: 30px;
    @media (max-width: 767px) {
        margin-top: 15px;
        padding-bottom: 15px;
    }
}

.current-post-body {
    @include threadishLinks();
}

.top-matter {
    font-family: $serif-font-family;
    @include threadishLinks();
    font-size: $font-size-base + 2px;
    border-top: $font-size-base solid $visited-red;
    border-bottom: $font-size-base solid $visited-red;
    margin-top: $font-size-base;
    padding-top: $font-size-base;
    @media (max-width: 767px) {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    @media (min-width: 767px) {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
}

#top-nav-bar {
    margin-left: 10%;
    margin-right: 10%;
}

#main {
    /* Old Bootstrap 2 container-fluid */
    padding-left: 20px;
    padding-right: 20px;
}

#post_body {
    height: 20em;
}

span.short-post-time {
    font-size: 70%;
}

// Spailer tags
a[href="#s"] {
    display: inline-block;
    background: $gray-light;
    color: white;
    text-derocation: none;
    cursor: text;
}
a[href="#s"]:hover {
    text-decoration: none;
}
a[href="#s"]:visited {
    color: white;
    text-decoration: none;
}
a[href="#s"]::after {
    content: attr(title);
    background: $text-color;
    color: $text-color;
    visibility: visible;
    border-radius: 3px;
    padding: 0 3px;
    margin-left: 5px;
}
a[href="#s"]:hover::after, a[href="#s"]:active::after {
    color: white;
}
