// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin unstyledLists {
    list-style: none;
    margin-left: 0;
}

.subthread {
    padding-left: 3%;
    border-left: 1px solid lighten($grayLight, 10%);
    @include unstyledLists();
}

.current-post {
    font-weight: bold;
}

.post h1 {
    font-size: 18px;
}

.post h2, h3 {
    font-size: 16px;
}

.modal-backdrop {
    opacity: 1.0;
}

.thread {
    @include threadishLinks();
    border-bottom: 1px solid $grayLight;
    margin-top: 30px;
    padding-bottom: 30px;
    @media (max-width: 767px) { 
        margin-top: 15px;
        padding-bottom: 15px;
    }
    @include unstyledLists();
}

.top-matter {
    @include font-family-serif();
    @include threadishLinks();
    font-size: $baseFontSize + 2px;
    border-top: $baseFontSize solid $visitedRed;
    border-bottom: $baseFontSize solid $visitedRed;
    margin-top: $baseFontSize;
    padding-top: $baseFontSize;
    @media (max-width: 767px) { 
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    @media (min-width: 767px) { 
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
}

#top-nav-bar {
    margin-left: 10%;
    margin-right: 10%;
}

li.post {
    @include unstyledLists();
}
